.social-network{
    display: flex;
    flex-direction: column;
    z-index:1000;
    position: fixed;
    left: 95%;
    top: 30%;
    padding: 10px;
    background: rgba(225, 239, 241, 0.5);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    border-radius:10px;
}
.icon{
    margin:10px 0;
    background: transparent;
    text-align: center;
    width: 30px;
    height: 30px;
}

.picto{
    font-size:25px;
    background: transparent;
    color: red
}

.picto:hover{
    font-size: 30px;
}


@media screen and (max-width:1024px) {
    .social-network{
        left: 90%;
    }
}
@media screen and (max-width:768px) {
    .social-network{
        left: 90%;
    }
}
@media screen and (max-width:480px) {
    .social-network{
        display: none;
    }
}
