.social-network{
    display: flex;
    flex-direction: column;
    z-index:1;
    position: fixed;
    left: 95%;
    padding: 20px;
    background: rgba(190, 190, 190, 0.5);
    border-radius:10px;
}
.icon{
    margin:10px 0;
    background: transparent;
}