.div-skills{
    min-height: 100vh;
    background: #e1eff1;
    padding-top: 100px;
}
.div-skills .titleSkills{
    background:transparent;

}
.div-skills .titleSkills h1{
    font-family: 'Bebas Neue', cursive;
    background:transparent;
    margin-left: 100px;
}
.listcardSkills{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    margin: 0 100px;

}
.listcardSkills .contentSkill{
    background: #FFF;
    width: 500px;
    border-radius:10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.skill h3{
    font-family: 'Bebas Neue', cursive;
}
.skill ul{
    list-style: none;
    max-width: 400px !important;
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin:10px auto;
}
.skill li{
    color: #fff;
    font-size: 12px;
    background:#eebb4d;
    border-radius: 50px;
    margin: 5px;
    padding: 5px 25px;
    width: max-content;
    font-family: 'Fira Sans', sans-serif;
}


@media screen and (max-width:575px){
    .div-skills{
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom:30px;
    }
    .listcardSkills .contentSkill{
        width: auto !important;
        max-width: 500px;
    }
    .div-skills .titleSkills{
        padding-top: 30px;
    }
    .div-skills .titleSkills h1{
        margin-left: 0;
    }
    .skill{
        width: 100%;
    }
    .listcardSkills{
        margin: 0 10px;
    }
    .skill ul{
        padding: 0 10px;
    }
    
}



@media screen and (max-width:380px){
    .div-skills{
        padding-left: 20px;
        padding-right: 20px; 
        margin-top: 40px;
    }
    .skill{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
        border-radius:10px;
        text-align: center;
        padding: 0;
    }
}